# IDE
.idea/
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo

# Docker i image
*.tar
*.log
**/__pycache__/
**/*.pyc

# Splunk config
splunk_config/server.conf
splunk_config/web.conf
splunk_config/README

# Old files
old/

# Repeating files
Scripts/Placeholder/logs/from_splunk/prvi/out
Scripts/Placeholder/logs/from_splunk/drugi/out